<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

   xmlns:gap   = "http://phonegap.com/ns/1.0"
   id          = "com.phonegap.example"
   version     = "1.0.0"
   versionCode = "10" >

   <!-- versionCode is optional and Android only -->

   <preference name="phonegap-version" value="3.1.0" />

   <!-- Apple device targeting -->
   <preference name="target-device" value="universal" />

   <!-- Full Screen -->
   <preference name="fullscreen" value="true" />

   <name>Kombo</name>

   <description>
      Combine words to make silly sentences and compete with your friends.
   </description>

   <author href="http://nehmsmann.com" email="jordyn@nehmsmann.com">
      Jordyn Nehmsmann
   </author>
   
   <!-- Icon -->
   <icon src="images/icon.png" />

<icon gap:density="ldpi" gap:platform="android" src="images/icon-android.png" />
<icon gap:density="mdpi" gap:platform="android" src="images/icon-android.png" />
<icon gap:density="hdpi" gap:platform="android" src="images/icon-android.png" />
<icon gap:density="xhdpi" gap:platform="android" src="images/icon-android.png" />

<icon gap:platform="ios" height="57" src="images/icon-ipod.png" width="57" />
<icon gap:platform="ios" height="72" src="images/icon-ipod.png" width="72" />
<icon gap:platform="ios" height="114" src="images/icon-ipod.png" width="114" />
<icon gap:platform="ios" height="144" src="images/icon-ipod.png" width="144" />

   <!-- Splash Screen -->
   <gap:splash src="images/logo.png" gap:platform="ios" width="320" height="480" />
   <gap:splash src="images/logo.png" gap:platform="ios" width="640" height="960" />
   <gap:splash src="images/logo.png" gap:platform="ios" width="640" height="1136" />
   <gap:splash src="images/logo.png" gap:platform="ios" width="1024" height="748" />
   <gap:splash src="images/logo.png" gap:platform="ios" width="768" height="1004" />
   <!-- retina iPad support: PhoneGap 2.5.0+ only -->
   <gap:splash src="images/logo.png" gap:platform="ios" width="2048" height="1496" />
   <gap:splash src="images/logo.png" gap:platform="ios" width="1536" height="2008" />
   <!-- Android -->
   <preference name="SplashScreen" value="screen" />
   <preference name="SplashScreenDelay" value="10000" />
   <gap:splash src="images/logo.9.png" gap:platform="android" width="960" height="720" />
   <gap:splash src="images/logo.9.png" gap:platform="android" width="640" height="480" />
   <gap:splash src="images/logo.9.png" gap:platform="android" width="470" height="320" />
   <gap:splash src="images/logo.9.png" gap:platform="android" width="426" height="320" />
   
   
   <!--INTERACT WITH CONTACTS-->
   <!--<gap:plugin name="org.apache.cordova.contacts" version="0.2.9" />-->

</widget>
